body {
    text-align: center;
    font-family: "Merriweather", serif;
    background: url('bg2.gif') no-repeat center center fixed;
    background-size: cover;
    color: #ffdde1; 
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#array-container 
{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 300px;
    width: 50%;
    margin: 20px auto;
    gap: 6px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.0100);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 4px 14px rgba(255, 0, 0, 0.4);
}

.bar 
{
    width: 25px;
    background: #e4c791;
    border-radius: 3px;
    transition: height 0.3s ease-in-out, background 0.3s ease-in-out;
}


.bar.active 
{
    background: #ff6347; 
    box-shadow: 0px 0px 10px rgba(255, 99, 71, 0.8);
}


.bar.sorted 
{
    background: #8b0000; 
}

button 
{
    padding: 12px 20px;
    margin: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background: linear-gradient(135deg, rgba(60, 60, 60, 0.49), rgb(30, 30, 30), rgb(10, 10, 10));
    color: #ffdde1; 
    border-radius: 8px;
    transition: transform 0.2s, background 0.3s, box-shadow 0.3s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
    
}

button:hover
{
    /*background: rgba(255, 255, 255, 0.0100);
    color: white;
    box-shadow: 0px 4px 14px rgba(255, 0, 0, 0.4);*/
    transform: scale(1.08);

}

#nav 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 
{
    font-size: 28px;
    font-weight: bold;
    color: #ffdde1; /* Soft Pinkish White */
    letter-spacing: 1px;
    text-shadow: 2px 2px 5px rgba(255, 99, 71, 0.5);
    margin-top:70px;
}

#reset-button
{
    background: rgba(255, 255, 255, 0.0100);
    color: white;
    box-shadow: 0px 4px 14px rgba(255, 0, 0, 0.4);
}